<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid d-flex justify-content-center pt-4">
  <h1 class="fw-bold text-center">
    掲示板タイトル
  </h1>
</div>

    <hr>
     <div class="container mt-4">
  <div class="row">

    <!-- 左カラム -->
    <div class="col-md-4">
      <a href="#" class="d-block mb-2">学習・勉強</a>
      <a href="#" class="d-block mb-2">テクノロジー・IT</a>
      <a href="#" class="d-block mb-2">仕事・キャリア</a>
      <a href="#" class="d-block mb-2">生活・暮らし</a>
      <a href="#" class="d-block mb-2">健康・運動</a>
    </div>

    <!-- 真ん中カラム -->
    <div class="col-md-4">
      <a href="#" class="d-block mb-2">趣味・エンタメ</a>
      <a href="#" class="d-block mb-2">お金・経済</a>
      <a href="#" class="d-block mb-2">社会・ニュース</a>
      <a href="#" class="d-block mb-2">創作・アイデア</a>
      <a href="#" class="d-block mb-2">人間関係・コミュニケーション</a>
    </div>

    <!-- 右カラム -->
    <div class="col-md-4">
      <a href="#" class="d-block mb-2">科学・自然</a>
      <a href="#" class="d-block mb-2">歴史・文化</a>
      <a href="#" class="d-block mb-2">学校・教育</a>
      <a href="#" class="d-block mb-2">ビジネス・起業</a>
      <a href="#" class="d-block mb-2">デザイン・表現</a>
    </div>

    <!-- <a href="/new" class="btn btn-primary">追加</a>


    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">番号</th>
            <th scope="col">memo</th>
            <th scope="co1"></th>
          </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
          <tr>
            <th scope="row">{{ todo.id }}</th>
            <td>{{ todo.memo }}</td>
            <td><a href="/update/{{todo.id}}" class="btn btn-success">編集</a>
            <a href="/delete/{{todo.id}}" class="btn btn-danger">削除</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
 -->

</body>
</html>